<h1>GundamModel#index</h1>
<% @gundam_models.each do |gundam| %>
  <div style="border: 1px solid black; margin-bottom: 5px; width: 250px">
  <h3><%= link_to gundam.nome, gundam %></h3>   
  <%= image_tag "#{gundam.imagem}" %>
  </div>
<% end %>
</ul>