<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color:#0105">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <svg width="163" height="35" xmlns="http://www.w3.org/2000/svg">
      <g>
        <text xml:space="preserve" text-anchor="start" font-family="'Roboto Slab'" font-size="24" id="svg_1" y="26" x="3" stroke-width="0" stroke="#000" fill="#000000">GunplaCollect</text>
      </g>
      </svg>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <%= link_to "Registrar", new_user_url, class: 'button is-primary has-text-weight-bold' %>
        <%= link_to "Log in", toys_path, class: 'button is-link has-text-weight-bold' %>
      </div>
    </div>
  </div>
</nav>